@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");

body {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg,greenyellow, dodgerblue) fixed;
    font-family: "Sansita Swashed", cursive;
}

.center {
    position: relative;
    padding: 50px 50px;
    background: #fff;
    border-radius: 10px;
}

    .center h1 {
        font-size: 2em;
        border-left: 5px solid dodgerblue;
        padding: 10px;
        background-color: white;
        letter-spacing: 5px;
        margin-bottom: 60px;
        padding-left: 10px;
    }

    .center .inputbox {
        position: relative;
        width: 300px;
        height: 50px;
        margin-bottom: 50px;
    }


        .center .inputbox input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border: 2px solid #000;
            outline: none;
            background: none;
            padding: 10px;
            border-radius: 10px;
            font-size: 1.2em;
        }

        .center .inputbox:last-child {
            margin-bottom: 0;
        }

        .center .inputbox span {
            position: absolute;
            top: 14px;
            left: 40px;
            font-size: 1em;
            transition: 0.6s;
            font-family: sans-serif;
        }

        .center .inputbox input:focus ~ span,
        .center .inputbox input:valid ~ span,
        .center .inputbox input:hover ~ span {
            transform: translateX(-40px) translateY(-35px);
            font-size: 1em;
            font-weight: bold;
        }


        .center .inputbox select {
            position: relative;
            top: 1.2em;
            left: 0;
            width: 100%;
            border: 2px solid #000;
            outline: none;
            background: none;
            padding: 10px;
            border-radius: 10px;
            font-size: 1.2em;
        }

            .center .inputbox select ~ span {
                position: absolute;
                top: 0px;
                left: 10px;
                font-size: 1em;
                transition: 0.6s;
                font-family: sans-serif;
            }

            .center .inputbox select:hover ~ span {
                transform: translateX(50px);
                font-size: 1em;
                font-weight: bold;
            }

.radiobox {
    position: relative;
    width: 300px;
    height: 50px;
    border: 2px solid #000;
    margin-bottom: 50px;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 10px;
}

    .radiobox span {
        position: relative;
        padding-left: 10px;
        font-family: sans-serif;
        font-size: 1.0em;
    }

.center .radiobox input[type=radio],
.center .radiobox input[type=checkbox] {
    position: relative;
    padding-left: 20px;
    outline: none;
    background: none;
    transition: 0.6s;
}

.center .radiobox label {
    padding-left: 10px;
    border-radius: 10px;
    font-size: 1.0em;
    transition: 0.6s;
}

.center .radiobox input[type=radio]:checked + label,
.center .radiobox input[type=checkbox]:checked + label {
    font-size: 1.2em;
    font-weight: bold;
}

.center .textbox {
    position: relative;
    width: 300px;
    margin-bottom: 50px;
}

    .center .textbox textarea {
        position: relative;
        top: 2em;
        left: 0;
        width: 100%;
        resize: vertical;
        border: 2px solid #000;
        outline: none;
        background: none;
        padding: 10px;
        border-radius: 10px;
        font-size: 1.2em;
        margin-bottom: 10px;
    }

        .center .textbox textarea ~ span {
            position: absolute;
            top: 0px;
            left: 10px;
            font-size: 1.2em;
            transition: 0.6s;
            font-family: sans-serif;
            margin-bottom: 10px;
        }

        .center .textbox textarea:hover ~ span,
        .center .textbox textarea:focus ~ span {
            transform: translateX(50px);
            font-size: 1.3em;
            letter-spacing: 2px;
            font-weight: bold;
            transition: .6s;
        }
        .center form :last-child{
            display:flexbox;
            width:100%;
            justify-content:space-between;
            align-items:center;
        }
.center .inputbox input[type="button"],
.center .inputbox input[type="reset"],
.center .inputbox input[type="submit"] {
    position:relative;
    width: 30%;
    background: dodgerblue;
    border-radius: 15px;
    color: #fff;
    border: #fff;
}

    .center .inputbox input[type=button]:hover ,
    .center .inputbox input[type=submit]:hover,
    .center .inputbox input[type="reset"]:hover{
        background: linear-gradient(45deg,greenyellow, dodgerblue);
    }
